<section id="characteristics" class="section-padding">
	<div class="container">
		<h2 class="section-main-title">
			capable <br />
			of so much
		</h2>
		<ul class="capable-list">
			<li class="capable-list-item section-text">Ability to receive calls</li>
			<li class="capable-list-item section-text">Rich and powerful sound</li>
			<li class="capable-list-item section-text">Active noise cancellation option</li>
			<li class="capable-list-item section-text">Unsurpassed microphone system</li>
			<li class="capable-list-item section-text">Support of voice assistants</li>
			<li class="capable-list-item section-text">
				Bose AR Augmented Reality <br />
				Audio Platform
			</li>
		</ul>
	</div>
</section>
