<section id="characteristics">
	<div class="container">
		<h2 class="capable-title">
			capable <br />
			of so much
		</h2>
		<ul class="capable-list">
			<li class="capable-list-item">Ability to receive calls</li>
			<li class="capable-list-item">Rich and powerful sound</li>
			<li class="capable-list-item">Active noise cancellation option</li>
			<li class="capable-list-item">Unsurpassed microphone system</li>
			<li class="capable-list-item">Support of voice assistants</li>
			<li class="capable-list-item">
				Bose AR Augmented Reality <br />
				Audio Platform
			</li>
		</ul>
	</div>
</section>
