<footer class="page-footer">
	<div class="container">
		<nav>
			<ul class="page-footer-list">
				<li class="page-footer-list-item"><a href="#">Characteristics</a></li>
				<li class="page-footer-list-item second-element forth-element"><a href="#">Payment and delivery</a></li>
				<li class="page-footer-list-item"><a href="#">History</a></li>
				<li class="page-footer-list-item fifth-element"><a href="#">Store addresses</a></li>
				<li class="page-footer-list-item third-element"><a href="#">Reviews</a></li>
				<li class="page-footer-list-item sixth-element"><a href="#">FAQ</a></li>
			</ul>
		</nav>
		<address class="page-footer-address">
			<a href="tel:+88001111111">8 (800) 111-11-11</a>
		</address>
	</div>
</footer>
