<section class="guarantees section-padding">
	<div class="container">
		<div class="guarantees-wrapper">
			<div class="guarantees-inner-wrapper">
				<h2 class="section-main-title">Guarantees</h2>
				<ul class="guarantees-list">
					<li class="guarantees-list-item">
						<h3 class="section-second-title">90 Day Money Back Guarantee</h3>
						<p class="section-text">
							If you are not 100% satisfied with a product, you can return it back for a full refund.
						</p>
					</li>
					<li class="guarantees-list-item">
						<h3 class="section-second-title">1 year warranty</h3>
						<p class="section-text">
							Regardless of your country of residence, if your headphones are broken, we will send you new ones.
						</p>
					</li>
				</ul>
			</div>
			<picture>
				<source
					media="(max-width: 767px)"
					srcset="/img/guarantees/guarantees-mobile.jpg 1x, /img/guarantees/guarantees-mobile@2x.jpg 2x"
				/>
				<source
					media="(min-width: 1440px)"
					srcset="/img/guarantees/guarantees-desk.jpg 1x, /img/guarantees/guarantees-desk@2x.jpg 2x"
				/>
				<source
					media="(min-width: 768px)"
					srcset="/img/guarantees/guarantees-tab.jpg 1x, /img/guarantees/guarantees-tab@2x.jpg 2x"
				/>
				<img
					class="section-image"
					src="/img/guarantees/guarantees-mobile.jpg"
					srcset="/img/guarantees/guarantees-mobile@2x.jpg"
					alt="White headphones"
				/>
			</picture>
		</div>
	</div>
</section>
