<header>
	<div class="container">
		<div class="header-wrapper">
			<a class="header-logo-link" href="">
				<svg class="header-logo" width="100" height="12">
					<use href="/symbol-defs.svg#icon-bose-logo-2"></use>
				</svg>
			</a>
			<button class="header-burger-button" type="button" data-mobile>
				<svg class="header-burger-pic" width="22" height="11">
					<use href="/symbol-defs.svg#icon-hamburger"></use>
				</svg>
			</button>
			<button class="header-burger-button hidden" type="button" data-mobile>
				<svg class="header-burger-pic" width="24" height="24">
					<use href="/symbol-defs.svg#icon-close-large"></use>
				</svg>
			</button>

			<nav class="header-nav">
				<ul class="header-nav-list">
					<li>
						<a href="#characteristics">Characteristics</a>
					</li>
					<li>
						<a href="#history">History</a>
					</li>
					<li>
						<a href="#reviews">Reviews</a>
					</li>
					<li>
						<a href="#payment">Payment and delivery</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
