<section class="section-padding history" id="history">
	<div class="container">
		<div class="history-wrapper">
			<h2 class="section-main-title">brand creation history</h2>
			<p class="section-text">
				The history of Bose Corporation began with disappointment. In 1956, MIT graduate student Amar Bose bought one of
				the best stereo systems at the time for his home. After a few minutes of listening to the audio recording, his
				bewilderment turned to disappointment.
			</p>
			<picture>
				<source
					media="(max-width: 767px)"
					srcset="/img/history/history-mob.jpg 1x, /img/history/history-mob@2x.jpg 2x"
				/>
				<source
					media="(min-width: 1440px)"
					srcset="/img/history/history-desk.jpg 1x, /img/history/history-desk@2x.jpg 2x"
				/>
				<source
					media="(min-width: 768px)"
					srcset="/img/history/history-tab.jpg 1x, /img/history/history-tab@2x.jpg 2x"
				/>
				<img
					src="/img/history/history-mob.jpg"
					srcset="/img/history/history-mob@2x.jpg 2x"
					alt="An old photo of people developing headphones."
					class="section-image"
					id="image-developers"
				/>
			</picture>
			<p class="section-text">
				From Amar's point of view, the sound was so flat and unnatural that it was better not to listen to the music at
				all than to listen to it in such a distorted form.
			</p>
		</div>
		<p class="section-text">
			Bose's frustration grew into a firm determination to build audio equipments that would reproduce sound with
			impeccable accuracy and naturalness
		</p>
		<figure>
			<picture>
				<source
					media="(max-width: 767px)"
					srcset="/img/history/history-boss-mob.jpg 1x, /img/history/history-boss-mob@2x.jpg 2x"
				/>
				<source
					media="(min-width: 768px)"
					srcset="/img/history/history-boss-tab.jpg 1x, /img/history/history-boss-tab@2x.jpg 2x"
				/>
				<source />
				<img
					src="/img/history/history-boss-mob.jpg"
					srcset="/img/history/history-boss-mob@2x.jpg 2x"
					alt="Amar Bose is a company founder "
					class="section-image"
					id="history-boss-image"
				/>
			</picture>
			<figcaption class="history-caption">
				<p class="section-second-title">
					Never stop dreaming. Always dream of the best, and think about how to achieve it.
				</p>
				<p class="history-author">Amar Bose is a company founder</p>
			</figcaption>
		</figure>
	</div>
</section>
