<div class="backdrop" id="modal-window">
	<div class="modal">
		<button class="modal-close-btn" data-toggle-modal data-modal-data>
			<svg width="30" height="30">
				<use href="/symbol-defs.svg#icon-close-large"></use>
			</svg>
		</button>
		<p class="form-text">Request a call from a manager</p>
		<form action="" name="order" class="modal-form">
			<label class="modal-form-label">
				Name:
				<input type="text" class="modal-form-input" placeholder="John Doe" />
			</label>
			<label class="modal-form-label">
				Tel:
				<input type="tel" class="modal-form-input" placeholder="+380951234567" />
			</label>
			<label class="modal-form-label">
				Email:
				<input type="email" class="modal-form-input" placeholder="johnDoe@gmail.com" />
			</label>
			<button type="submit" class="hero-order-btn">Order call</button>
		</form>
	</div>
</div>
