<section class="order section-padding" id="payment">
	<div class="container">
		<div class="order-section-wrapper">
			<h2 class="section-main-title">bose nc 700</h2>
			<picture class="order-picture">
				<source
					media="(max-width: 767px)"
					srcset="/img/order/order-black-mob.jpg 1x, /img/order/order-black-mob@2x.jpg 2x"
				/>
				<source
					media="(min-width: 1440px)"
					srcset="/img/order/order-black-desk.jpg 1x, /img/order/order-black-desk@2x.jpg 2x"
				/>
				<source
					media="(min-width: 768px)"
					srcset="/img/order/order-black-tab.jpg 1x, /img/order/order-black-tab@2x.jpg 2x"
				/>
				<img
					src="/img/order/order-black-mob.jpg"
					srcset="/img/order/order-black-mob@2x.jpg 2x"
					alt="colors of heardphones"
					class="section-image for-change"
				/>
			</picture>
			<picture class="visually-hidden order-picture">
				<source
					media="(max-width: 767px)"
					srcset="/img/order/order-white-mob.jpg 1x, /img/order/order-white-mob@2x.jpg 2x"
				/>
				<source
					media="(min-width: 1440px)"
					srcset="/img/order/order-white-desk.jpg 1x, /img/order/order-white-desk@2x.jpg 2x"
				/>
				<source
					media="(min-width: 768px)"
					srcset="/img/order/order-white-tab.jpg 1x, /img/order/order-white-tab@2x.jpg 2x"
				/>
				<img
					src="/img/order/order-white-mob.jpg"
					srcset="/img/order/order-white-mob@2x.jpg 2x"
					alt="colors of heardphones"
					class="section-image for-change"
				/>
			</picture>
			<div class="order-radio-wrapper">
				<label class="order-label">
					<input class="order-radio visually-hidden" type="radio" name="color" value="black" checked />
					<span class="order-label-span black-radio">
						<span class="order-label-span-inner"></span>
					</span>
				</label>
				<label class="order-label">
					<input class="order-radio visually-hidden" type="radio" name="color" value="white" />
					<span class="order-label-span white-radio">
						<span class="order-label-span-inner"></span>
					</span>
				</label>
			</div>
			<ul class="order-list">
				<li class="order-list-item">
					Availability in stores
					<button type="button" class="order-list-item-button" data-toggle-modal data-available-modal>
						<svg class="order-list-item-button-svg">
							<use href="/img/symbol-defs.svg#arrow"></use>
						</svg>
					</button>
				</li>
				<li class="order-list-item">
					Characteristics
					<a href="#characteristics" class="order-list-item-button">
						<svg class="order-list-item-button-svg">
							<use href="/img/symbol-defs.svg#arrow"></use>
						</svg>
					</a>
				</li>
				<li class="order-list-item">
					Payment and delivery methods
					<button type="button" class="order-list-item-button" data-toggle-modal data-payment-modal>
						<svg class="order-list-item-button-svg">
							<use href="/img/symbol-defs.svg#arrow"></use>
						</svg>
					</button>
				</li>
			</ul>
			<p class="order-price">14 999 UAH</p>
			<button class="order-button" type="button" data-toggle-modal data-modal-data>Заказать</button>
		</div>
	</div>
</section>
