<section class="design">
	<div class="container">
		<div class="design-wrapper">
			<h2 class="design-main-title">Premium design and comfort</h2>
			<ul class="design-list">
				<li class="design-list-item">
					<h3 class="design-second-title">11 levels of noise reduction</h3>
					<p class="design-text">
						With the new Bose Noise Canceling Headphone 700, you can smoothly increase or decrease the level of noise
						cancellation. You can be heard perfectly and you hear the interlocutor clearly, even in a noisy environment!
					</p>
				</li>
				<li class="design-list-item">
					<h3 class="design-second-title">Comfort up to max level</h3>
					<p class="design-text">
						Stylish, lightweight stainless steel headband with soft, angled cups of headphones for comfortable seating.
						The inner side is made of soft gel lining that fits well to the head.
					</p>
				</li>
			</ul>
		</div>
		<picture>
			<source
				media="(min-width: 1440px)"
				srcset="/img/premium-design/design-desc.jpg 1x, /img/premium-design/design-desc@2x.jpg 2x"
			/>
			<source
				media="(max-width: 767px)"
				srcset="/img/premium-design/design-mob.jpg 1x, /img/premium-design/design-mob@2x.jpg 2x"
			/>
			<source
				media="(min-width: 768px)"
				srcset="/img/premium-design/design-tab.jpg 1x, /img/premium-design/design-tab@2x.jpg 2x"
			/>
			<img
				class="design-image"
				src="/img/premium-design/design-mob.jpg 1x"
				srcset="/img/premium-design/design-mob@2x.jpg 2x"
				alt="Girl is listening to music in the headphones"
			/>
		</picture>
	</div>
</section>
