<section class="section-padding" id="reviews">
	<div class="container">
		<h2 class="section-main-title">reviews</h2>
		<div class="swiper">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">
					<iframe
						src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=TZozfePggWCXOcC7"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
					<h3 class="video-title">Bose Сorporation</h3>
					<p class="video-text">
						Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup,
						Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work
						done, or just shut out the world for a few moments and relax
					</p>
				</li>
				<li class="swiper-slide">
					<iframe
						src="https://www.youtube.com/embed/BUyLpf-u97Y?si=3ytbS9AZTXhsb80l"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
					<h3 class="video-title">Bose Сorporation</h3>
					<p class="video-text">
						Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible.
						The perfect balance of quiet, comfort, and sound
					</p>
				</li>
				<li class="swiper-slide">
					<iframe
						src="https://www.youtube.com/embed/NgtznBDFRUo?si=LWSHBw0YtWxfF634"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
					<h3 class="video-title">Bose Сorporation</h3>
					<p class="video-text">
						Real stories of people tuning in or out to feel peace, find escape, and for self-care
					</p>
				</li>
			</ul>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
