<section class="sound section-padding">
	<div class="container">
		<h2 class="section-main-title">The luxury of silence</h2>
	</div>
	<picture>
		<source media="(max-width: 767px)" srcset="/img/sound/sound-mob.jpg 1x, /img/sound/sound-mob@2x.jpg 2x" />
		<source media="(min-width: 1440px)" srcset="/img/sound/sound-desc.jpg 1x, /img/sound/sound-desc@2x.jpg 2x" />
		<source media="(min-width: 768px)" srcset="/img/sound/sound-tab.jpg 1x, /img/sound/sound-tab@2x.jpg 2x" />
		<img
			src="/img/sound/sound-mob.jpg"
			srcset="/img/sound/sound-mob@2x.jpg 2x"
			alt="Headphones on the couch in the sunlight."
			class="sound-picture"
		/>
	</picture>
	<div class="container">
		<ul class="sound-list">
			<li class="sound-list-item">
				<h3 class="section-second-title">Maximum enjoyment</h3>
				<p class="section-text">
					In order to create a comfortable atmosphere - raise the level by level from the "transparent" mode to the
					maximum blocking of sounds. The conversation mode can be activated in one click using a special button.
				</p>
			</li>
			<li class="sound-list-item">
				<h3 class="section-second-title">Crystal sound</h3>
				<p class="section-text">
					The speaker system and brand name active equalizer are able to provide high-quality and powerful sound at any
					volume level. You can be sure of no distortion and crystal clear at high and low frequencies.
				</p>
			</li>
		</ul>
	</div>
</section>
