#characteristics {
	padding-top: 52px;
}

@media (min-width: 768px) {
	#characteristics {
		padding-top: 128px;
	}
}

@media (min-width: 1440px) {
	#characteristics {
		padding-top: 170px;
	}
	#characteristics .container {
		padding-left: 190px;
	}
}

.capable-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #e7e7e7;
	margin-bottom: 32px;
}

@media (min-width: 768px) {
	.capable-title {
		font-size: 30px;
	}

	#characteristics br {
		display: none;
	}
}

@media (min-width: 1440px) {
	.capable-title {
		margin-bottom: 50px;
		font-size: 54px;
	}
}

@media (min-width: 1440px) {
	.capable-list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 115px;
	}
}

.capable-list-item {
	line-height: 1.25;
	padding-left: 40px;
	position: relative;
}

@media (min-width: 768px) {
	.capable-list-item {
		font-size: 16px;
		line-height: 1.45;
	}
}

@media (min-width: 1440px) {
	.capable-list-item {
		font-size: 20px;
		width: 435px;
	}
	.capable-list-item:nth-child(4) {
		order: 2;
	}
	.capable-list-item:nth-child(2) {
		order: 3;
	}
	.capable-list-item:nth-child(3) {
		order: 5;
	}
	.capable-list-item:nth-child(5) {
		order: 4;
	}
	.capable-list-item:nth-child(6) {
		order: 6;
	}
}

.capable-list-item:not(:last-child) {
	margin-bottom: 16px;
}

.capable-list-item::before {
	content: '';
	width: 13px;
	height: 13px;
	background-color: #df3d3a;
	display: inline-block;
	margin-right: 24px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

@media (min-width: 768px) {
	.capable-list-item::before {
		top: 5px;
	}
}
