.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transform: translate(-100%);
	transition: transform 250ms;
	padding: 100px 20px 0;
	background-color: #191919;
}

@media screen and (min-width: 768px) {
	.mobile-menu {
		transform: translate(0, -100%);
		padding: 119px 60px 0;
		height: 367px;
		box-shadow: 0 20px 80px 0 #000;
	}
}

.mobile-menu.is-open {
	transform: translate(0);
}

.header-nav-mobile-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
