@media (min-width: 768px) {
	.design .container {
		padding-left: 0;
		display: flex;
		flex-direction: row-reverse;
		column-gap: 60px;
	}
	.design picture {
		flex-shrink: 0;
	}
}

@media (min-width: 1440px) {
	.design {
		padding-top: 170px;
	}
	.design .container {
		padding-right: 190px;
		column-gap: 150px;
	}
}

@media (min-width: 1440px) {
	.design .section-main-title {
		width: 464px;
	}
}

.design-list {
	margin-bottom: 32px;
}

@media (min-width: 768px) {
	.design-list {
		margin-bottom: 0;
	}
}

.design-list-item:not(:last-child) {
	margin-bottom: 24px;
}

@media (min-width: 768px) {
	.design-list-item:not(:last-child) {
		margin-bottom: 40px;
	}
}
