.sound .section-main-title {
	width: 100%;
}

@media (min-width: 768px) {
	.sound .section-main-title {
		text-align: right;
	}
}

.sound-picture {
	margin-bottom: 32px;
	width: 100%;
}

@media (min-width: 768px) {
	.sound-picture {
		width: 100vw;
		max-width: 768px;
		margin-left: -60px;
	}
}

@media (min-width: 1440px) {
	.sound-picture {
		max-width: 1440px;
		margin-left: -80px;
		margin-bottom: 50px;
	}
}

.sound-list {
	display: flex;
	flex-direction: column;
	row-gap: 42px;
}

@media (min-width: 768px) {
	.sound-list {
		flex-direction: row;
		column-gap: 60px;
	}
	.sound-list-item {
		width: 294px;
	}
}

@media (min-width: 1440px) {
	.sound-list {
		column-gap: 40px;
		justify-content: center;
	}
	.sound-list-item {
		width: 500px;
	}
}
