.technology .section-text {
	margin-bottom: 32px;
}

@media (min-width: 768px) {
	.technology .container {
		display: flex;
		column-gap: 60px;
		padding-right: 0;
	}
	.technology-wrapper {
		width: 294px;
	}
}

@media (min-width: 1440px) {
	.technology .container {
		justify-content: space-between;
		padding-left: 190px;
	}
	.technology-wrapper {
		width: 380px;
	}
}
